.SearchSection {
    width: 100%;
    height: 57px;
    display: flex;
}

.MethodDropdown,
.InputText,
.Button {
    height: 50px !important;
    margin: 5px 15px !important;
    margin-right: 5px !important;
}

.MethodDropdown {
    flex-grow: 1;
    min-width: 200px !important;
    flex-wrap: wrap;
}

.InputText {
    flex-grow: 20;
}

.Button {
    flex-grow: 1;
}