.SideBar {
    width: 20%;
    background-color: #C197D2;
    float: left;
    height: 94vh;
    text-align: center;
}

.HistoryLabel {
    padding: 0;
    margin: 0;
    font-size: 5vh;
    color: black;
}

.HistoryContainer {
    width: 100%;
}