.SideBar {
    width: 20%;
    background-color: #18A558;
    float: left;
    height: 94vh;
    text-align: center;
}

.HistoryLabel {
    padding: 0;
    margin: 0;
    font-size: 5vh;
    color: white;
}

.HistoryContainer {
    width: 100%;
}