.Preview {
    width: 98%;
    margin: 0.8vh auto;
    height: 77vh;
    background-color: #81B622;
    border-radius: 5px;
}

.HeaderLine {
    font-size: 4vh;
    width: 96%;
    float: left;
    margin-top: 1vh;
    padding-left: 2%;
    margin-left: 1%;
    border-radius: 5px;
    background-color: #A3EBB1;
}

.Headers {
    float: left;
    width: 96%;
    margin-top: 1vh;
    margin-left: 1%;
    padding-left: 2%;
    background-color: #A3EBB1;
    border-radius: 5px;
}

.Header {
    float: left;
    width: 98%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.HeaderKeys {
    margin: 0;
    width: 30%;
    float: left;
}

.HeaderValues {
    margin: 0;
    float: left;
    width: 70%;
}

.Body {
    float: left;
    width: 96%;
    margin-top: 1vh;
    padding-left: 2%;
    margin-left: 1%;
    font-size: 4vh;
    border-radius: 5px;
    background-color: #A3EBB1;
}