.FormUrlEncodedEditor {
    width: 75%;
    height: 77vh;
    float: left;
}

.AddFormControllButton {
    float: right;
    font-size: 4vh;
    margin-right: 2vh;
    border: none;
    margin-top: 2vh;
    padding: 0.5vh 2vh;
    border-radius: 5px;
}

.AddFormControllButton:hover {
    background-color: #3D550C;
    color: white;
    cursor: pointer;
}