.Navigation {
    width: 100%;
    background-color: #613659;
    user-select: none;
    height: 6vh;
}

.Logo {
    margin: 0;
    color: white;
    font-size: 4vh;
    padding-bottom: 5px;
    padding-left: 2%;
    cursor: pointer;
}