.ResponseHeadersTableRow {
    width: 98%;
    margin-left: 1%;
    user-select: none;
}

.ResponseHeadersTableRow:hover {
    cursor: pointer;
    background-color: lightblue;
}

.ResponseHeadersTableName {
    width: 29%;
    font-size: 4vh;
    float: left;
    padding-left: 1%;
}

.ResponseHeadersTableValue {
    width: 69%;
    font-size: 4vh;
    float: left;
    padding-left: 1%;
}

.EvenRow {
    background-color: aliceblue;
}

.OddRow {
    background-color: lightgray;
}

.ToggledHeaderValue {
    float: left;
    width: 100%;
    font-size: 4vh;
    padding-left: 2vh;
    overflow-y: auto;
}