.Limitations {
    float: left;
    width: 80%;
    height: 94vh;
    background-color: #A3EBB1;
}

.CurrentLimitationsLabel {
    margin: 0 2vh;
    padding: 0;
    font-size: 4vh;
}

.LimitationsContainer {
    font-size: 3vh;
    margin: 0;
    margin-left: 2vh;
}

.Link {
    margin-left: 1vh;
}

.GetBack {
    width: 10%;
    background-color: aliceblue;
    font-size: 3vh;
    margin-left: 2vh;
    margin-top: 1vh;
    border: 2px solid transparent;
    border-radius: 5px;
}

.GetBack:hover {
    background-color: lightblue;
    cursor: pointer;
    border: 2px solid black;
}