.SectionButton, .ActiveButton {
    font-size: 5vh;
    height: 7vh;
    width: 23%;
    margin: 0 1%;
    border: none;
    padding: 0 2.5%;
    border-radius: 0;
}

.SectionButton:hover {
    background-color: #ECF87F;
    cursor: pointer;
}

.ActiveButton {
    background-color: #ECF87F;
}

.SectionButton {
    background-color: aliceblue;
}

.ActiveIcon {
    padding: 0;
    float: right;
    font-size: 6vh;
    margin-top: -1.3vh;
}