.Search {
    width: 100%;
    height: 8.5vh;
}

.SearchMethod {
    float: left;
    font-size: 5vh;
    border: none;
    border-radius: 5px;
    margin: 1vh 1%;
    width: 15%;
    background-color: aliceblue;
}

.SearchField {
    font-size: 5vh;
    width: 68%;
    border: none;
    padding: 0 1%;
    border-radius: 5px;
    float: left;
    margin-top: 1vh;
    background-color: aliceblue;
}

.GoButton {
    width: 11%;
    margin: 1vh 1%;
    font-size: 4.7vh;
    border: none;
    height: 5.8vh;
    border-radius: 5px;
    background-color: aliceblue;
}

.GoButton:hover {
    background-color: #ECF87F;
    cursor: pointer;
}